# DECISIONTREEREGRESSOR ON INSURANCE DATABASE

In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("C:\\Users\\us\\OneDrive\\Desktop\\regexml\\insurance.csv")

In [6]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df=df.dropna()

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
lb=LabelEncoder()

In [12]:
df['sex']=lb.fit_transform(df['sex'])
df['region']=lb.fit_transform(df['region'])
df['smoker']=lb.fit_transform(df['smoker'])

In [13]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [14]:
x=df.drop(columns=['charges'],axis=1)
y=df['charges']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
from sklearn.tree import DecisionTreeRegressor

In [18]:
dt=DecisionTreeRegressor()

In [19]:
dt.fit(x_train,y_train)

DecisionTreeRegressor()

In [20]:
y_pred=dt.predict(x_test)

In [21]:
from sklearn.metrics import r2_score

In [22]:
r2_score(y_test,y_pred)

0.7349212731901826

# DecisionTreeClassifier ON NewPlacement DataBase

In [39]:
import numpy as np
import pandas as pd

In [40]:
df=pd.read_csv("C:\\Users\\us\\OneDrive\\Desktop\\regexml\\NewPlacement.csv")

In [41]:
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                    26       1
1  7.46                    38       1
2  7.54                    40       1
3  6.42                     8       1
4  7.23                    17       0

In [42]:
df=df.dropna()

In [45]:
x=df.drop(columns=['placed'])
y=df['placed']

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [48]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
dt=DecisionTreeClassifier()

In [50]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [51]:
y_pred=dt.predict(x_test)

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
accuracy_score(y_test,y_pred)

0.485