In [1]:
#WRITE STATEMENT TO IMPORT NUMPY
import numpy as np

In [3]:
#CREATE AN ARRAY USISNG NUMPY
a=np.array([])

In [4]:
#CREATE AN ARRAY OF ELEMENTS FROM 10-20
a=np.array([10,11,12,13,14,15,16,17,18,19,20])

In [31]:
#CREATE AN ARRAY WHICH CONTAINS VALUE 5, 10 TIMES
a=np.random.randint(5,6,10)
a

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [24]:
#CREATE A ONE DIMENSIONAL ARRAY AND CONVERT THAT INTO 3*3 MATRIX
import numpy as np
a=np.random.randint(1,10,9)
a=a.reshape(3,3)
a

array([[9, 4, 6],
       [6, 6, 9],
       [6, 2, 7]])

In [27]:
#create 2-D array of size 3*3 but all the elements sholud be between 0 to 1
import numpy as np
a=np.random.rand(9)
a=a.reshape(3,3)
a

array([[0.66092751, 0.81861548, 0.02878505],
       [0.76296548, 0.48667605, 0.32122356],
       [0.69794461, 0.37046087, 0.47619035]])

In [37]:
#concatenate 2D array horizontal and vertically
import numpy as np
a=np.random.randint(1,25,9)
a.reshape(3,3)
np.vstack(a)

array([[14],
       [ 1],
       [11],
       [12],
       [21],
       [13],
       [ 5],
       [ 8],
       [17]])

In [39]:
import numpy as np
a=np.random.randint(1,25,9)
a.reshape(3,3)
np.hstack(a)

array([20, 17, 11, 19, 23, 13, 18,  4, 13])